<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catagories</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <nav class="navBar">
        <div class="home"><a href="/" style="text-decoration: none;">Home</a></div>
        <div class="catagory"><a href="/catagory" style="text-decoration: none;">Catagory</a></div>
        <div class="expense"><a href="/users" style="text-decoration: none;">Users</a></div>
        <div class="expense"><a href="/expense" style="text-decoration: none;">Expenses</a></div>
    </nav><br><br>
    <h1>Catagory Page</h1><br>
    <div class="container2">
        <p>Please Select Catagory And Enter Your Spending As Well As The Date</p><br><br>
        <form action="catagory" method="POST">
            <label for="catagory">Catagory:</label>
            <select id="catagory" name="catagory">
               <option value="travel">Travel</option>
               <option value="food">Food</option>
               <option value="toiletries">Toiletries</option>
               <option value="communication">Communication</option>
            </select><br><br>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date"><br><br>
            <label for="cost">The Cost:</label><input type="text" id="cost" name="cost"><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>