<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catagories</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="navBar">
        <div class="home"><a href="/" style="text-decoration: none;">Home</a></div>
        <div class="catagory"><a href="/catagory" style="text-decoration: none;">Catagory</a></div>
        <div class="users"><a href="/users" style="text-decoration: none;">Users</a></div>
        <div class="expense"><a href="/expense" style="text-decoration: none;">Expenses</a></div>
    </nav><br><br>
    <h1>Expenses Page</h1><br>
    <div class="container3">
        <p>Your Expenses Are As Bellow:</p><br>
        <hr>
        <table class="display">
            <tr>
                <th>Name</th>
                <th>Catagory</th>
                <th>Date</th>
                <th>Cost</th>
            </tr>
            <tr>
                <td></td>
                
            </tr>
            
        </table>
    </div>
</body>
</html>